body {
    background-color: hsl(229, 57%, 11%);
    font-family: raleway;
}

.background-image {
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center bottom;
    background-size: auto;
    position: relative;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo-container {
    width: 300px;
    height: 160px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 7px 70px 7px 7px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 15px;
}

.one-icon {
    height: 25px;
    width: 25px;
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-logo-container {
    padding: 30px 40px;
}

.logo img {
    width: 120px;
}

.progress-bar-container {
    color: white;
    width: 500px;
    height: 130px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 7px;
    margin-left: 30px;
    font-size: 14px;
}

.inside-progress-bar-container {
    padding: 30px;
}

.main-text span {
    font-weight: bolder;
}

.inner-container {
    display: flex;
    align-items: flex-end;
}

progress {
    width: 100%;
    display: block;
    /* default: inline-block */
    margin: 1em 0 0.2em 0;
    padding: 3px;
    border: 0 none;
    background: hsl(229, 57%, 11%);
    border-radius: 14px;
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: orange;
}

/* webkit */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 18px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.capacity {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    height: 30px;
}

.tooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid white;
    border-left: 25px solid transparent;
    bottom: -23px;
    right: 0px;
}

.tooltip {
    width: 150px;
    height: 65px;
    background-color: white;
    color: hsl(229, 7%, 55%);
    margin-right: 30px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    top: -45px;
}

.big-progress-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.tooltip span {
    font-weight: bolder;
    font-size: 35px;
    margin-right: 10px;
    color: black;
}

.circle {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 90px;
    top: 4px;
}

.progress-bar {
    position: relative;
}